.summary-box {
  border: 1px solid #f0f0f0;
  padding: 12px;
  border-radius: 8px;
  background: #fafafa;
  text-align: center;

  .summary-title {
    font-weight: 500;
    margin-bottom: 4px;
  }
  .summary-value {
    font-size: 20px;
    font-weight: bold;
  }
}


