<div class="p-4 campaign-modal-body">

  <!-- HÀNG 1: Thông tin chiến dịch -->
  <div nz-row [nzGutter]="16" class="mb-4">
    <div nz-col [nzSpan]="12">
      <div class="field-item mb-3 flex">
        <label class="mr-2 font-medium w-40">Tên chiến dịch:</label>
        <div>{{detailCampaign?.name}}</div>
      </div>

      <div class="field-item mb-3 flex">
        <label class="mr-2 font-medium w-40">Tiêu đề:</label>
        <div>{{detailCampaign?.subject}}</div>
      </div>

      <div class="field-item mb-3 flex">
        <label class="mr-2 font-medium w-40">Thời gian gửi:</label>
        <div>{{detailCampaign?.scheduledTime | date: DATE_TIME_FORMAT}}</div>
      </div>
    </div>
  </div>

  <!-- HÀNG 2: Thống kê tổng quan -->
  <div nz-row [nzGutter]="24" class="mb-5">
    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tổng số email đã gửi</div>
        <div class="summary-value text-green-600">{{detailCampaign?.stats?.totalSent}}</div>
      </div>
    </div>

    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ chưa mở</div>
        <div class="summary-value text-green-600">
          {{detailCampaign?.stats?.unOpenRate}}% ({{detailCampaign?.stats?.totalUnopened}})
        </div>
      </div>
    </div>

<!--    <div nz-col [nzSpan]="3">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ mở</div>
        <div class="summary-value text-green-600">
          {{detailCampaign?.stats?.openRate}}% ({{detailCampaign?.stats?.totalOpened}})
        </div>
      </div>
    </div>-->

    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ click</div>
        <div class="summary-value text-green-600">
          {{detailCampaign?.stats?.clickRate}}% ({{detailCampaign?.stats?.totalClicked}})
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ vào Spam</div>
        <div class="summary-value text-red-600">
          {{detailCampaign?.stats?.complaintRate}}% ({{detailCampaign?.stats?.totalComplaint}})
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ Bounced</div>
        <div class="summary-value text-red-600">
          {{detailCampaign?.stats?.bounceRate}}% ({{detailCampaign?.stats?.totalBounced}})
        </div>
      </div>
    </div>

    <div nz-col [nzSpan]="4">
      <div class="summary-box">
        <div class="summary-title">Tỉ lệ hủy đăng ký</div>
        <div class="summary-value text-red-600">
          {{detailCampaign?.stats?.unsubscribeRate}}% ({{detailCampaign?.stats?.totalUnsubscribed}})
        </div>
      </div>
    </div>
  </div>

  <!-- HÀNG 3: Danh sách Subscribers -->
  <div>
    <div class="text-base font-semibold mb-2">Danh sách subscribers trong chiến dịch</div>
    <app-table
      [columns]="columnsSubscriber"
      [items]="itemsSubscriber"
      [showPagination]="true"
      [scrollY]="'900px'"
    >

      <ng-template [appCellTemplate]="'emailSentTime'" let-item>
        {{item.emailSentTime | date: DATE_TIME_FORMAT}}
      </ng-template>

    </app-table>

  </div>

</div>

<ng-template #emailSentTpl let-item>
  {{ item.emailSentTime | date: 'dd/MM/yyyy HH:mm' }}
</ng-template>
