


<div>
  <form [formGroup]="form" (ngSubmit)="saveCampaign()">
        <div nz-row [nzGutter]="10">

          <div nz-col [nzSpan]="8">
            <div class="field-item mb-3">
              <label class="mr-2">Tên chiến dịch</label>
              <div class="flex-[1_0_0]">
                <app-form-control>
                  <app-input formControlName="name"
                             [allowClear]="true"
                             placeholder="Tên chiến dịch"></app-input>
                </app-form-control>
              </div>
            </div>


            <div class="field-item mb-3">
              <label class="mr-2">Tiêu đề</label>
              <div class="flex-[1_0_0]">
                <app-form-control>
                  <app-input formControlName="subject"
                             [allowClear]="true"
                             placeholder="Subject"></app-input>
                </app-form-control>
              </div>
            </div>

            <div class="field-item mb-3">
              <label class="mr-2">Thời gian gửi</label>
              <div class="flex-[1_0_0]">
                <app-form-control>
                  <app-datepicker
                    formControlName="scheduledTime"
                    [showTime]="true"
                    [disabledDate]="disabledDate"
                    [format]="DATE_TIME_FORMAT"
                  ></app-datepicker>
                </app-form-control>
              </div>
            </div>


            <div class="field-item mb-3">
              <label class="mr-2">Chọn tag</label>
              <div class="flex-[1_0_0]">
                <app-form-control>
                  <app-select formControlName="tagIds"
                              [options]="tagOptions$ | async"
                              placeholder="Chọn tag"
                              [isMulti]="true"
                  ></app-select>
                </app-form-control>
              </div>
            </div>

          </div>

          <div nz-col [nzSpan]="16">
            <div class="field-item mb-3">
              <label class="mr-2">Nội dung:</label>
              <div class="flex-[1_0_0]">

                <app-form-control>
                  <app-richtext-email
                    formControlName="htmlBody" [extraTpl]="extraTpl"></app-richtext-email>
                </app-form-control>

                <ng-template #extraTpl>
                  <button
                    type="button"
                    (click)="openModalSelectTemplate()"
                    class="px-2 py-1 bg-gray-100 hover:bg-gray-200 rounded ml-2">
                    Chọn template
                  </button>
                </ng-template>

              </div>
            </div>
          </div>

        </div>


    <div class="btn-group text-right">
      <button nz-button type="button" [disabled]="isLoadingSave" nzType="default" (click)="closeModal()">Hủy</button>
      <button nz-button
              nzType="primary"
              type="submit"
              [nzLoading]="isLoadingSave"
              class="ml-3"
      >Save</button>
    </div>
  </form>
</div>

