<nz-card nzTitle="Danh sách Sequence" [nzSize]="'small'" [nzExtra]="extraTemplate">

  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="showCreateModal()">+ Thêm Sequence</button>
  </ng-template>

  <div class="table-list pt-3">
    <div class="basis-0 grow shrink">
      <app-table
        [columns]="columns"
        [items]="items"
        [scrollX]="'900px'"
        [loading]="isLoading$ | async"
        [showPagination]="false"
      >
        <ng-template [appCellTemplate]="'createdAt'" let-item>
          {{item.createdAt | date: DATE_TIME_FORMAT}}
        </ng-template>

        <ng-template [appCellTemplate]="'actions'" let-item>
          <button nz-button nzType="text" nzShape="circle" (click)="showViewModal(item)">
            <i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="Xem chi tiết"></i>
          </button>

          <button nz-button nzType="text" nzShape="circle" (click)="showEditModal(item)" class="cursor-pointer">
            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Sửa Sequence"></i>
          </button>

          <button nz-button nzType="text" nzShape="circle" (click)="confirmDelete(item)" class="cursor-pointer">
            <i nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Xóa Sequence"></i>
          </button>
        </ng-template>

      </app-table>
    </div>
  </div>
</nz-card>


