@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', SansSerif;
  src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Black.ttf');
  font-weight: 900;
}



/*custom css cho label chọn font ở quill editor*/
/* Sửa tên hiển thị trong dropdown */
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: attr(data-value);
}
.ql-snow .ql-picker.ql-font .ql-picker-label::before{
  content: attr(data-value);
}
.ql-snow .ql-picker.ql-font{
  width: 150px; /* Tuỳ chỉnh độ rộng dropdown */
}
