<div class="tags-wrapper space-y-6 overflow-auto max-h-screen p-6 bg-white rounded shadow">

  <nz-card nzTitle="Quản lý Tag" [nzSize]="'small'" [nzExtra]="extraTemplate">

    <ng-template #extraTemplate>
      <button nz-button nzType="primary" (click)="showCreateModal()">+ Thêm Tag</button>
    </ng-template>

    <div class="table-list pt-3">
      <div class="basis-0 grow shrink">
        <app-table
          [columns]="columns"
          [items]="tags"
          [loading]="isLoading$ | async"
          [showPagination]="false"
        >
          <ng-template [appCellTemplate]="'actions'" let-item>
            <button nz-button nzType="text" (click)="showEditModal(item)" class="cursor-pointer">
              <i nz-icon
                 nzType="edit"
                 nzTheme="outline"
                 nz-tooltip
                 nzTooltipTitle="Sửa tag"></i>
            </button>

            <button nz-button
                    nzType="text"
                    (click)="confirmDelete(item)" class="cursor-pointer ml-2">
              <i nz-icon
                 nzType="delete"
                 nzTheme="outline"
                 nz-tooltip
                 nzTooltipTitle="Xóa tag"></i>
            </button>
          </ng-template>

        </app-table>
      </div>
    </div>
  </nz-card>

</div>



<ng-template #modalEditTag>
  <form [formGroup]="tagForm" (ngSubmit)="handleOk()">
    <div>
      <label>Tên Tag:</label>
      <app-form-control>
        <app-input formControlName="name"></app-input>
      </app-form-control>
    </div>
    <div class="btn-group text-center mt-3">
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button
              nzType="primary"
              [nzLoading]="isLoadingSave"
              type="submit"
              class="ml-3"
      >Save</button>
    </div>
  </form>
</ng-template>

